.v-enter-active,
.v-leave-active {
  transition: opacity 0.5s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}

.slide-fade-enter-active {
  transition: all 0.2s ease-out;
}

.slide-fade-leave-active {
  transition: all 0.2s ease-in;
}

.slide-fade-enter-from,
.slide-fade-leave-to {
  transform: translateY(-50px);
  opacity: 0;
}

.ql-toolbar {
  border: none !important;
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
  background-color: rgba($color: var(--v-theme-dark), $alpha: 0.05);
}

.ql-container {
  border: none !important;
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
  background-color: rgba($color: var(--v-theme-dark), $alpha: 0.05) !important;
  @apply bg-light;
}