html {
  font-family: Inter, "Beiruti" !important;
}

.label {
  @apply text-md;
}

.flex-between-wrap {
  @apply flex flex-col md:flex-row justify-between gap-2;
}

.hide-scrollbar .v-navigation-drawer__content::-webkit-scrollbar {
  display: none !important;
}

// overrides on vuetify
.v-pagination__list {
  justify-content: end !important;
}

.v-breadcrumbs-item--link {
  text-decoration: none !important;
}
.v-text-field input {
  font-size: .875rem;
}

.v-list-item--nav {
  padding: 0px 10px !important;
}

a {
  text-decoration: none;
}

.v-input__control .v-field {
  box-shadow: none !important;
}

// Remove default arrows for number inputs
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

// .v-field__overlay {
//   background-color: var(--v-theme-light) !important;
// }

.v-navigation-drawer--rail:hover {
  @apply shadow-xl
}

div::-webkit-scrollbar,
main::-webkit-scrollbar,
ol::-webkit-scrollbar,
pre::-webkit-scrollbar,
span::-webkit-scrollbar,
ul::-webkit-scrollbar {
  @apply bg-background w-3;
}

div::-webkit-scrollbar-thumb,
main::-webkit-scrollbar-thumb,
ol::-webkit-scrollbar-thumb,
pre::-webkit-scrollbar-thumb,
span::-webkit-scrollbar-thumb,
ul::-webkit-scrollbar-thumb {
  background-color: rgba($color: #000000, $alpha: 0);
  border: 3px solid rgba(0, 0, 0, 0);
  border-radius: 9999px;
  background-clip: padding-box;
  transition: all 0.5s;
}

div:hover::-webkit-scrollbar-thumb,
main:hover::-webkit-scrollbar-thumb,
ol:hover::-webkit-scrollbar-thumb,
pre:hover::-webkit-scrollbar-thumb,
span:hover::-webkit-scrollbar-thumb,
ul:hover::-webkit-scrollbar-thumb {
  background-color: rgba($color: #000000, $alpha: 0.2);
}
